body {
    background-color:white;
    font-family:Verdana;
    margin:0;
}
input, button {
    width:200px;
    font-size:20px;
    text-align:center;
    border:2px solid black;
    border-radius:10px;
}
input { height:30px; }
button { height:40px; }

.Des {
    margin-left:20px;
}
.SupCenter {
    display:flex;
    justify-content:center;
    align-items:center;
}
.center {
    text-align:center;
}

#Up {
    display:flex;
    align-items:center;
    gap:calc(100% - 202px);
}
#Overlay {
    display:none;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1;
    background:rgba(0, 0, 0, 0.5);
    position:fixed;
}
#New {
    display:none;
    background-color:white;
    width:90%;
    height:auto;
    z-index:2;
    text-align:center;
    border:2px solid black;
    border-radius:10px;
    position:fixed;
}
#Chat {
    width:100%;
    height:50px;
    border:2px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
}